.overlayWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  color: var(--white);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 0;
}
.empty {
  width: 100%;
  min-height: 50px;
}
.middle {
  text-align: center;
  width: 70%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  margin-top: -10%;
}
.title2 {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 5%;
  padding: 20px 0;
}

.bottom {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3%;

  width: 100%;
}
.icons {
  display: flex;
  gap: 20px;
}

.phoneIcon {
  font-size: 22px;
  margin-right: 5px;
  padding-top: 5px;
  color: var(--white);
}
.number:hover {
  color: var(--color2);
  transition: all 0.3s;
}

@media (max-width: 950px) {
  .middle {
    width: 80%;
  }

  .middle h3 {
    letter-spacing: 2px;
    padding-bottom: 25px;
  }
}

@media (max-width: 750px) {
  .middle {
    width: 95%;
  }
}

@media (max-width: 570px) {
  .middle h2 {
    display: none;
  }
}

@media (max-width: 370px) {
  .bottom {
    display: none;
  }
}
