.TwoTextWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  text-align: center;
}
.textWrap {
  display: flex;
  justify-content: center;
  gap: 10%;
}
.textWrap div {
  width: 40%;
  text-align: center;
}

.head p {
  margin: 30px auto;
}
.TwoTextWrapper a {
  margin-top: 60px;
}

@media (max-width: 650px) {
  .textWrap {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  .textWrap div {
    width: 100%;
  }
}
