/* fonts */
:root {
  font-family: var(--font1); /* Nicer  font for Navigation  or Title etc... */
  font-family: var(--font2); /* fancy font can be not so much readable*/
  font-family: var(--font3); /* not readable hand writting etc...)*/
}
.font1 {
  font-family: var(--font1);
}
.font2 {
  font-family: var(--font2);
}
.font3 {
  font-family: var(--font3);
}
.font4 {
  font-family: var(--font4);
}

/* burger nav link */
.burger-link {
  font-family: var(--font1);
  font-size: 15px;
  transition: all 0.2s;
  color: var(--color4);
  text-transform: uppercase;
  font-weight: 500;
}
.burger-link:hover {
  text-decoration: underline;
}
.active-burger-link {
  text-decoration: underline;
  color: var(--color2);
}

/* standart Nav link */
.link {
  font-family: var(--font1);
  font-size: 15px;
  transition: all 0.2s;
  color: var(--color1);
  text-transform: uppercase;
  font-weight: 500;
}
.active-link {
  /* text-decoration: underline; */
  color: var(--color2);
}
.link:hover {
  text-decoration: underline;
}

/* typography */
.heading1 {
  font-family: var(--font2);
  margin-top: 16px;
  margin-bottom: 24px;
  font-size: 60px;
  line-height: 80px;
  font-weight: 700;
}
.heading2 {
  font-size: 38px;
  font-family: var(--font1);
  line-height: 120%;
  user-select: none;
  font-weight: 900;
}
.heading3 {
  font-size: 30px;
  font-weight: 600;
  font-family: var(--font1);
}
.heading4 {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
.heading5 {
  font-family: var(--font3);
  font-size: 56px;
  font-weight: 600;
}
.heading6 {
  font-family: var(--font3);
  font-size: 38px;
  font-weight: 600;
}
.paragraph {
  font-size: 17px;
  font-weight: 500;
  line-height: 160%;
}
.paragraph-bold {
  font-weight: 700;
}
.caption {
  font-size: 16px;
  font-family: var(--font1);
  font-weight: 400;
  line-height: 150%;
}
.caption-mini {
  font-size: 12px;
  font-weight: 400;
  font-family: var(--font1);
}

@media (max-width: 1000px) {
  .paragraph {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .paragraph {
    font-size: 13px;
  }
}

/* Break point 1200px */
@media (max-width: 1200px) {
  .heading1 {
    font-size: 50px;
  }
}

/* Break point 992px */
@media (max-width: 992px) {
  .heading1 {
    font-size: 45px;
  }
}

/* Break point 768px */
@media (max-width: 768px) {
  .heading1 {
    font-size: 40px;
  }
}

/* Break point 576px */
@media (max-width: 576px) {
  .heading1 {
    font-size: 35px;
  }
  .heading2 {
    font-size: 50px;
  }
}

/* Break point 400px */
@media (max-width: 400px) {
  .heading1 {
    font-size: 30px;
  }
}
