.mediaWrapper {
  display: flex;
  gap: 10px;
}
.mediaWrapper a {
  background-color: var(--color4);
  border-radius: 50%;
  font-size: 25px;
  padding: 6px;
  transition: 0.2s;
  color: var(--white);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
}
.mediaWrapper a:hover {
  background-color: var(--color2);
}
