.mapAndTimesWrapper {
  display: flex;
  justify-content: space-between;
  height: auto;
  height: 600px;
  width: 100%;
}

.textMapWrap {
  padding: 10px;
  height: 100%;
  display: flex;
  width: 64%;
  gap: 10px;
  border: 1px solid var(--gray5);
  background-color: var(--white);
}

.textMapWrap div {
  width: 50%;
}

.mapSide {
  min-height: 300px;
}
.mapSide img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

@media (max-width: 1300px) {
  .mapAndTimesWrapper {
    height: 500px;
  }
}

@media (max-width: 1000px) {
  .mapAndTimesWrapper {
    flex-direction: column;
    align-items: center;
    height: 1000px;
    gap: 40px;
  }
  .textMapWrap {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .textMapWrap {
    flex-direction: column;
  }
  .mapAndTimesWrapper {
    height: auto;
  }
  .textMapWrap div {
    width: 100%;
    height: 400px;
  }
}
